{{#bs-navbar type="light" backgroundColor="white" toggleBreakpoint="null" collapsed="false" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}
      <img
        src="img/logo.png"
        alt="">
    {{/link-to}}
  </div>
  <div class="ml-auto social">
    <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" rel="noopener">
      <img
        src="img/icono-facebook.png"
        alt="Icono de Facebook">
    </a>
    <a href="https://twitter.com/redxguate"  target="_blank" rel="noopener">
      <img
        src="img/icono-twitter.png"
        alt="Icono de Twitter">
    </a>
  </div>
{{/bs-navbar}}

{{!-- Banner --}}
<img src="img/banner-xs.png" class="background d-md-none">
<img src="img/banner.png" class="background d-none d-md-block">

<main class="container py-5 text-center">
  <h4 class="mb-5">Elige la herramienta que desees explorar</h4>
  <div class="row">
    {{#each model as |tool|}}
      <div class="col-12 col-md-4">
        <a href="#">
          <div class="card shadow">
            <img src="img/herramientas/{{tool.img}}" alt={{tool.imgAlt}}>
            <h5>{{tool.title}}</h5>
            <div class="overlay">
              <h5>{{tool.title}}</h5>
              <p>{{tool.description}}</p>
            </div>
          </div>
        </a>
      </div>
    {{/each}}    
  </div>
</main>

  <footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Un proyecto de:</h5>
        <a href="#">
          <img src="img/colaboradores/ICEFI.png" alt="ICEFI">
        </a>
        <a href="#">
          <img src="img/colaboradores/RED.png" alt="RED">
        </a>
        <a href="#">
          <img src="img/colaboradores/CENACIDE.png" alt="CENACIDE">
        </a>
        <a href="#">
          <img src="img/colaboradores/CIDH.png" alt="CIDH">
        </a>
        <a href="#">
          <img src="img/colaboradores/ICCPG.png" alt="ICCPG">
        </a>
        <a href="#">
          <img src="img/colaboradores/JUSTICIA_YA.png" alt="JUSTICIA_YA">
        </a>
        <a href="#">
          <img src="img/colaboradores/AR.png" alt="AR">
        </a>
        <a href="#">
          <img src="img/colaboradores/ASIES.png" alt="ASIES">
        </a>
        <a href="#">
          <img src="img/colaboradores/PERPENDICULAR.png" alt="PERPENDICULAR">
        </a>
        <a href="#">
          <img src="img/colaboradores/URL.png" alt="URL">
        </a>
        <a href="#">
          <img src="img/colaboradores/SEDEM.png" alt="SEDEM">
        </a>
        <a href="#">
          <img src="img/colaboradores/PD.png" alt="PD">
        </a>
        <a href="#">
          <img src="img/colaboradores/CARTER_CENTER.png" alt="CARTER_CENTER">
        </a>
        <a href="#">
          <img src="img/colaboradores/AEU.png" alt="AEU">
        </a>
        <a href="#">
          <img src="img/colaboradores/CHILD_FUND.png" alt="CHILD_FUND">
        </a>
        <a href="#">
          <img src="img/colaboradores/ALAS_MARIPOSA.png" alt="ALAS_MARIPOSA">
        </a>
        <a href="#">
          <img src="img/colaboradores/CIPRODENI.png" alt="CIPRODENI">
        </a>
        <a href="#">
          <img src="img/colaboradores/ARG.png" alt="ARG">
        </a>
        <a href="#">
          <img src="img/colaboradores/CIEN.png" alt="CIEN">
        </a>
        <a href="#">
          <img src="img/colaboradores/ISIS.png" alt="ISIS">
        </a>

      </div>
    </div>
  </div>
</footer>

{{outlet}}
