{{#bs-navbar type="light" backgroundColor="white" toggleBreakpoint="null" collapsed="false" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}
      <img
        src="img/logo.png"
        alt="">
    {{/link-to}}
  </div>
  <div class="ml-auto social">
    <a href="#">
      <img
        src="img/icono-facebook.png"
        alt="Icono de Facebook">
    </a>
    <a href="#">
      <img
        src="img/icono-twitter.png"
        alt="Icono de Twitter">
    </a>
  </div>
{{/bs-navbar}}

<main class="container-fluid">
  <section class="row">
    <div class="col-12 banner">
      <div class="text">
        <h1>Próximamente</h1>
        <h2>Mochila Electoral</h2>
      </div>
      <div class="counter row">
        <div class="col-4">
          <h1>00</h1>
          <h2>Días</h2>
        </div>
        <div class="col-4 center">
          <h1>00</h1>
          <h2>Días</h2>
        </div>
        <div class="col-4">
          <h1>00</h1>
          <h2>Días</h2>
        </div>
      </div>
      <div class="suscribe">
        {{#bs-form model=login novalidate=true as |form|}}
          {{#form.element placeholder="Email" property="email" as |el|}}
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img
                    src="img/icono-correo.png"
                    alt="Icono de un paquete de correo">
                </span>
              </div>
              <input value={{el.value}} class="form-control" placeholder="Email" oninput={{action (mut el.value) value="target.value"}} onchange={{action (mut el.value) value="target.value"}} id={{el.id}} type="text">
            </div>
          {{/form.element}}
          {{bs-button defaultText="Suscríbete" type="secondary" buttonType="submit"}}
        {{/bs-form}}
      </div>
      {{!-- Background --}}
      <img src="img/banner-xs.png" class="background d-md-none">
      <img src="img/banner.png" class="background d-none d-md-block">
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>Un proyecto de:</h5>
        <a href="">
          <img src="img/colaboradores/colaborador-01.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-02.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-03.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-04.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-05.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-06.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-07.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-08.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-09.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-10.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-11.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-12.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-13.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-14.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-15.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-16.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-17.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-18.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-19.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-20.png" alt="">
        </a>
        <a href="">
          <img src="img/colaboradores/colaborador-21.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>

{{outlet}}
