{{#bs-navbar type="light" backgroundColor="white" toggleBreakpoint="null" collapsed="false" as |navbar|}}
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand"}}
      <img
        src="img/logo.png"
        alt="">
    {{/link-to}}
  </div>
  <div class="ml-auto social">
    <a href="https://www.facebook.com/Redciudadanagt/" target="_blank" rel="noopener">
      <img
        src="img/icono-facebook.png"
        alt="Icono de Facebook">
    </a>
    <a href="https://twitter.com/redxguate"  target="_blank" rel="noopener">
      <img
        src="img/icono-twitter.png"
        alt="Icono de Twitter">
    </a>
  </div>
{{/bs-navbar}}

{{!-- Banner --}}
<img src="img/banner.png" class="banner-textless">

<main class="container py-5 text-center">
  <h4 class="mb-5">Elige la herramienta que desees explorar</h4>
  <div class="row">
    {{#each model as |tool|}}
      <div class="col-12 col-md-4">
        <a href={{tool.url}} target="_blank">
          <div class="card shadow text-center my-2">
            <img src={{asset-map (concat "Mochila/img/herramientas/" tool.img ".png")}} alt={{tool.imgAlt}} class="mx-auto">
            <h5>{{tool.title}}</h5>
            <div class="overlay">
              <h5>{{tool.title}}</h5>
              <p>{{tool.description}}</p>
              </div>
          </div>
        </a>
      </div>
    {{/each}}    
  </div>
</main>

{{outlet}}
